<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Layout for all HTML-templates">
    <meta name="author" content="Kathrin Bürki, Marc Schmidt, Nic Luginbühl">

    <title>{{block "title" .}}{{end}} - Jahreszahlen</title>

    <link href="/frontend/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/frontend/static/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/frontend/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/frontend/static/fonts/font-awesome.min.css">
</head>

<body id="top">
<div id="wrapper">

    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-0"><a
                class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-landmark"></i></div>
            <div class="sidebar-brand-text mx-3"><span>Jahreszahlen</span></div>
        </a>
            <hr class="sidebar-divider my-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item"><a class="nav-link" href="/">
                    <i class="fas fa-home"></i><span class="mx-1">Home</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/topics">
                    <i class="fas fa-book"></i><span class="mx-1">Themen</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/scores">
                    <i class="fas fa-trophy"></i><span class="mx-1">Leaderboard</span></a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/users/profile">
                    <i class="fas fa-user"></i><span class="mx-1">Profil</span></a>
                </li>
                {{if .LoggedIn}}
                <li class="nav-item"><a class="nav-link" href="/users/logout">
                    <i class="fas fa-sign-out-alt"></i><span class="mx-1">Logout</span></a>
                </li>
                {{else}}
                <li class="nav-item"><a class="nav-link" href="/users/login">
                    <i class="fas fa-sign-in-alt"></i><span class="mx-1">Login</span></a>
                </li>
                {{end}}
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>

    <!-- HEADER -->
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i
                            class="fas fa-bars"></i></button>
                    <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text"
                                                        placeholder="Suchen nach ...">
                            <div class="input-group-append">
                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow">
                            <a class="dropdown-toggle nav-link"
                               data-toggle="dropdown" aria-expanded="false"
                               href="/search">
                                <i class="fas fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto navbar-search w-100">
                                    <div class="input-group"><input class="bg-light form-control border-0 small"
                                                                    type="text"
                                                                    placeholder="Suchen nach ...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary py-0" type="button">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow">
                            <div class="nav-item dropdown no-arrow">
                                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false"
                                   href="#">
                                <span class="d-none d-lg-inline mr-2 text-gray-600 small">
                                    {{with .User.Username}}{{.}}{{else}}Gast{{end}}
                                </span>
                                    <img class="border rounded-circle img-profile"
                                         src="/frontend/static/img/default_user.png">
                                </a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in">
                                    <a class="dropdown-item {{if not .LoggedIn}}disabled{{end}}" href="/users/profile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profil
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    {{if .LoggedIn}}
                                    <a class="dropdown-item" href="/users/logout">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout
                                    </a>
                                    {{else}}
                                    <a class="dropdown-item" href="/users/register">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Registrieren
                                    </a>
                                    <a class="dropdown-item" href="/users/login">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Login
                                    </a>
                                    {{end}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- PAGE -->
            <div class="container-fluid">

                <!-- FLASH MESSAGES -->
                {{with .FlashMessageSuccess}}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{.}}</strong>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{end}}
                {{with .FlashMessageInfo}}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    <strong>{{.}}</strong>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{end}}
                {{with .FlashMessageError}}

                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{.}}</strong>
                    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{end}}

                <!-- TITLE -->
                <h3 class="text-dark mb-1">{{block "header" .}}{{end}}</h3>

                <!-- CONTENT -->
                <div class="container-fluid py-4">
                    {{block "content" .}}{{end}}

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Kathrin Bürki, Marc Schmidt, Nic Luginbühl</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- SCROLL TO TOP -->
    <a class="border rounded d-inline scroll-to-top" href="#top"><i class="fas fa-angle-up"></i></a>

    <script>
        $('.alert').alert();
    </script>
</div>


<script src="/frontend/static/js/bootstrap.bundle.min.js"></script>
<script src="/frontend/static/js/jquery.min.js"></script>
<script src="/frontend/static/js/chart.min.js"></script>
<script src="/frontend/static/js/script.min.js"></script>
</body>

</html>
