body{
    padding-top: 1% !important;
    background-color:white !important;
    width: 100% !important;

}
header{
    padding-left: 1% !important;
    background-color:#4f9ee6;
    color: aliceblue;
    width: 100% !important;
}
main{
    padding: 1% !important;
}
.col-7{
    margin-left: 2% !important;
}
form{
    width: 70% !important;
}
.btn{
    margin-top: 1% !important;
    color: #4f9ee6;
}
/* NAVIGATION: */
nav{
    background-color: white !important;
    color: black !important;
    width: 60% !important;
    border: solid black 2px !important;
    text-align: center !important;
}
.nav-item{
    color: black!important;
}
.nav-item:hover	{
    background-color: #4f9ee6;
    color: white !important;

}
/* active link*/
#active	{
    color: black !important;
}
/* END OF NAVIGATION: */
