{{define "title"}}
{{.Topic.Name}}
{{end}}

{{define "header"}}
<h1 class="mb-0">Ereignisse '{{.Topic.Name}}'</h1>
{{end}}

{{define "content"}}
{{$admin := .User.Admin}}
{{$csrf := .CSRF}}
<div class="row">
    <div class="{{if .User.Admin}}col-8{{else}}col-12{{end}}">
        {{range .Topic.Events}}
        <div class="card shadow mb-4">
            <div class="card-header">
                <div class="text-primary h5 mb-0 mt-1 font-weight-bold ">
                    <span class="mr-2">{{.Name}}</span>
                </div>
            </div>
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <span class="text-sm-left text-gray-600 font-weight-bold h5">{{.Year}}</span>
                    </div>
                    <div class="col-auto ml-4 mr-1">
                        {{if $admin}}
                        <a href="/topics/{{.TopicID}}/events/{{.EventID}}/edit" title="Ereignis bearbeiten">
                            <i class="fas fa-edit x-hover-red fa-2x text-gray-500 mr-3"></i>
                        </a>
                        <a href="#eventDeleteModal" data-bs-toggle="modal" title="Ereignis löschen">
                            <i class="fas fa-trash-alt x-hover-red fa-2x text-gray-500"></i>
                        </a>
                        <div id="eventDeleteModal" class="modal fade">
                            <form action="/topics/{{.TopicID}}/events/{{.EventID}}/delete" method="POST">
                                {{$csrf}}
                                <div class="modal-dialog modal-confirm">
                                    <div class="modal-content">
                                        <div class="modal-header flex-column">
                                            <div class="icon-box">
                                                <i class="fas fa-trash-alt fa-2x"></i>
                                            </div>
                                            <h4 class="modal-title w-100">Sind Sie sicher?</h4>
                                            <button type="button" class="close" data-bs-dismiss="modal"
                                                    aria-hidden="true">&times;
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Das Löschen eines Ereignisses kann nicht rückgängig gemacht werden.</p>
                                        </div>
                                        <div class="modal-footer justify-content-center">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Abbrechen
                                            </button>
                                            <button type="submit" class="btn btn-danger">Löschen</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{if .User.Admin}}
    <div class="col-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 align-items-center no-gutters bg-gradient-dark">
                <h6 class="text-white font-weight-bold m-0">
                    Neues Ereignis
                    <i class="fas fa-plus text-danger x-icon-right"></i>
                </h6>
            </div>
            <div class="card-body">
                <p>Als Admin haben Sie hier die Möglichkeit, ein neues Ereignis für das Thema '{{.Topic.Name}}' zu
                    erstellen,
                    welches ab sofort in den Quizzes abgefragt wird.</p>
                <p class="text-center">
                    <a href="/topics/{{.Topic.TopicID}}/events/new"><i
                            class="fas fa-plus-circle text-gray-200 fa-6x"></i></a>
                </p>
                <a href="/topics/{{.Topic.TopicID}}/events/new" class="mt-4 btn btn-outline-light btn-danger btn-block x-hover-dark
                text-white font-weight-bold btn-user">Neues Ereignis erstellen</a>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}
