{{define "title"}}
Ereignis erstellen
{{end}}

{{define "header"}}
<h1 class="text-dark mb-0">Ereignis erstellen</h1>
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-12 col-xl-9">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Neues Ereignis für '{{.Topic.Name}}'</p>
            </div>
            <div class="card-body">
                <form action="/topics/{{.Topic.TopicID}}/events" method="POST" class="form">
                    {{.CSRF}}
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label class="mb-1" for="name"><strong>Ereignis</strong></label>
                                <input type="text" name="name" id="name"
                                       placeholder="Namen des Ereignisses"
                                       class="form-control {{with .Form.Errors.Name}}is-invalid{{end}}"
                                       value="{{with .Form.Name}}{{.}}{{end}}">
                                {{with .Form.Errors.Name}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <div class="form-group">
                                <label class="mt-2 mb-1" for="year"><strong>Jahr</strong></label>
                                <input type="text" name="year" id="year"
                                       placeholder="Jahr/Datum des Geschehens (erlaubte Formate: 2000 / 12.2000 / 30.12.2000)"
                                       class="form-control {{with .Form.Errors.Year}}is-invalid{{end}}"
                                       value="{{with .Form.YearOrDate}}{{.}}{{end}}">
                                {{with .Form.Errors.Year}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-12 col-md-4">
                                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">Ereignis erstellen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}
