{{define "title"}}
Phase 2 Überprüfung
{{end}}

{{define "header"}}
<h1 class="mb-0">Lösungen {{.TopicName}}</h1>
{{end}}

{{define "content"}}
{{range $i, $q := .Questions}}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">{{$q.EventName}}</p>
    </div>
    <div class="card-body">
        <div class="form-group">
            <input type="number" name="{{$i}}" id="{{$i}}"
                   value="{{$q.UserGuess}}" class="form-control
                            {{if eq $q.UserGuess $q.EventYear}}
                                text-success
                            {{else}}
                                text-danger
                            {{end}}">
            {{if ne $q.UserGuess $q.EventYear}}
            <p class="text-sm-left text-danger">Richtige Antwort: {{$q.EventYear}}</p>
            {{end}}
        </div>
    </div>
</div>
{{end}}
<br>
<form action="/topics/{{.TopicID}}/quiz/2/review" method="POST" class="form">
    {{.CSRF}}
    <button type="submit" class="btn btn-primary btn-block text-white btn-user p-3">Weiter zu Phase 3</button>
</form>
{{end}}
