{{define "title"}}
Phase 3
{{end}}

{{define "header"}}
<h1 class="mb-0">{{.TopicName}}</h1>
{{end}}

{{define "content"}}
<form action="/topics/{{.TopicID}}/quiz/3" method="POST" class="form">
    {{.CSRF}}
    <div class="card shadow mb-4">
        <div class="card-body">
            <span class="font-weight-bold">Mit Klick auf ein Ereignis verschiebt es sich auf die andere Seite.
                Versuchen Sie alle Ereignisse in der richtigen Reihenfolge rechts abzubilden.</span>
        </div>
    </div>
    <div class="row row-cols-md-2">
        <div class="col-md">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Alle Ereignisse</p>
                </div>
                <div class="card-body">
                    {{range .Questions}}
                    <div onclick="addToResults(this.firstElementChild)" class="x-pointer-cursor x-hover-blue">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <span class="h6 font-weight-bold"><input type="hidden" name="guesses"
                                                                                 value="{{.Order}}">{{.EventName}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">In der richtigen Reihenfolge</p>
                </div>
                <div class="card-body" id="results">

                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block text-white btn-user p-3">Überprüfen</button>
</form>
{{end}}
