y{{define "title"}}
Phase 1 Überprüfung
{{end}}

{{define "header"}}
<h1 class="text-dark mb-0">Lösungen {{.TopicName}}</h1>
{{end}}

{{define "content"}}
<div class="row row-cols-md-2">
    {{range $i, $q := .Questions}} <!-- $i = index, $q = question -->
    {{$user := $q.UserGuess}}
    {{$year := $q.EventYear}}
    <div class="col-md">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">{{$q.EventName}}</p>
            </div>
            <div class="card-body">
                {{range $q.Choices}}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{$i}}" id="{{$i}}" value="{{.}}"
                           {{if eq . $user}}checked{{end}}>
                    <label for="{{$i}}" class="form-check-label text-sm-left
                            {{if eq . $year}}
                                text-success
                            {{else}}
                            {{if eq . $user}}
                                text-danger
                            {{end}}
                            {{end}}">
                        {{.}}
                        {{if eq . $year}} <!-- correct year -->
                        {{if eq . $user}}
                        <i class="fas fa-check text-success"></i> <!-- user guessed the correct year -->
                        {{end}}
                        {{else}}
                        {{if eq . $user}}
                        <i class="fas fa-times text-danger"></i> <!-- user guessed this year, which wasn't correct -->
                        {{end}}
                        {{end}}
                    </label>
                </div>
                {{end}}
            </div>
        </div>
    </div>
    {{end}}
</div>

<br>
<form action="/topics/{{.TopicID}}/quiz/1/review" method="POST" class="form">
    {{.CSRF}}
    <button type="submit" class="btn btn-primary btn-block text-white btn-user p-3">Weiter zu Phase 2</button>
</form>

{{end}}
