{{define "title"}}
Auswertung
{{end}}

{{define "header"}}
<h1 class="mb-0">Auswertung</h1>
{{end}}

{{define "content"}}
<div class="x-card">
    <div class="card-body">
        <div class="error mx-auto" data-text="{{.Quiz.Points}}">
            <p class="m-0 text-warning">{{.Quiz.Points}}</p>
        </div>
        <hr>
        <br>
        <ul>
            <li class="h5 x-bottom-spacing">Das Resultat war besser als <strong class="text-primary">{{.AverageComparison}}%</strong> aller Spieler
                beim Quiz über
                '<strong class="text-primary">{{.Quiz.Topic.Name}}</strong>'!
            </li>
            <li class="h5 x-bottom-spacing">Es wurden <strong class="text-primary">{{.Quiz.CorrectGuesses}}</strong> von <strong class="text-primary">{{.QuestionsCount}}</strong>
                Fragen richtig beantwortet.
            </li>
            <li class="h5">Es wurden <strong class="text-primary">{{.Quiz.Points}}</strong> von möglichen <strong
                    class="text-primary">{{.PotentialPoints}}</strong>
                Punkten erreicht.
            </li>
        </ul>
        <br>
        <br>
        <div class="row row-cols-1 row-cols-md-4 row-cols-xl-6">
            <div class="col">
                <button class="py-2 btn btn-primary btn-block text-white btn-user">
                    <a href="/"><i class="fas fa-home text-light"></i> <span class="text-light">Home</span></a>
                </button>
            </div>
            <div class="col mt-2 mt-md-0">
                <button class="py-2 btn btn-primary btn-block text-white btn-user">
                    <a href="/scores"><i class="fas fa-trophy text-light"></i> <span class="text-light">Leaderboard</span></a>
                </button>
            </div>
        </div>
    </div>
</div>
{{end}}
