{{define "title"}}
Phase 2 Überprüfung
{{end}}

{{define "header"}}
<h1 class="mb-0">Lösungen {{.TopicName}}</h1>
{{end}}

{{define "content"}}
{{range $i, $q := .Questions}}
<div class="x-card">
    <div class="card-body">

        <div class="form-group">
            <h5><label for="{{$i}}">{{$q.EventName}}</label></h5>
            <input type="number" name="{{$i}}" id="{{$i}}"
                   value="{{$q.UserGuess}}" class="form-control
                            {{if eq $q.UserGuess $q.EventYear}}
                                correct-year
                            {{else}}
                                incorrect-year
                            {{end}}">
            {{if ne $q.UserGuess $q.EventYear}}
            <p class="incorrect-year">Richtige Antwort: {{$q.EventYear}}</p>
            {{end}}
        </div>
    </div>
</div>
{{end}}
<form action="/topics/{{.TopicID}}/quiz/2/review" method="POST" class="form">
    {{.CSRF}}
    <button type="submit" class="x-button">Weiter zu Phase 3</button>
</form>
{{end}}

{{define "sidebar"}}

{{end}}
