{{define "title"}}
Auswertung
{{end}}

{{define "header"}}
<h1 class="mb-0">Auswertung</h1>
{{end}}

{{define "content"}}
<div class="x-card">
    <div class="card-body">

        <h3>Du warst besser als <strong>{{.AverageComparison}}%</strong> aller Spieler beim Quiz über '<strong>{{.Quiz.Topic.TopicName}}</strong>'!
        </h3>
        <br>
        <hr>
        <br>
        <h4>Du hast <strong>{{.Quiz.CorrectGuesses}}</strong> von <strong>{{.QuestionsCount}}</strong> Fragen richtig
            beantwortet.</h4>
        <br>
        <h4>Du hast <strong>{{.Quiz.Points}}</strong> von möglichen <strong>{{.PotentialPoints}}</strong> Punkte
            erhalten.</h4>

        <button class="x-button">
            <a href="/"><i class="fas fa-home"></i> Home</a>
        </button>
        <button class="x-button">
            <a href="/scores"><i class="fas fa-award"></i> Leaderboard</a>
        </button>
    </div>
</div>
{{end}}
