{{define "title"}}
{{.Topic.Name}}
{{end}}

{{define "header"}}
<h1 class="mb-0">Übersicht '{{.Topic.Name}}'</h1>
{{end}}

{{define "content"}}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">{{.Topic.Name}}</p>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-6">
                <div class="card shadow border-left-info mb-4">
                    <div class="card-body">
                        {{.Topic.Description}}
                    </div>
                </div>
                <div class="mx-4 mt-5">
                    <div class="d-flex justify-content-between">
                        <a href="/topics/{{.Topic.TopicID}}/quiz/1" title="Quiz starten">
                            <i class="fas fa-play x-hover-blue fa-4x text-gray-500"></i>
                        </a>
                        <a href="/topics/{{.Topic.TopicID}}/events" title="Ereignisse auflisten">
                            <i class="fas fa-list x-hover-yellow fa-4x text-gray-500"></i>
                        </a>
                        {{if .User.Admin}}
                        <a href="/topics/{{.Topic.TopicID}}/edit" title="Thema editieren">
                            <i class="fas fa-edit x-hover-red fa-4x text-gray-500"></i>
                        </a>
                        <form action="/topics/{{.Topic.TopicID}}/delete" method="POST">
                            {{.CSRF}}
                            <a onclick="$(this).closest('form').submit();" title="Thema löschen"><i
                                    class="fas fa-trash-alt x-hover-red fa-4x text-gray-500"></i></a>
                        </form>
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="{{.Topic.Image}}"
                     alt="Imperialismus" height="100%" width="100%">
            </div>
        </div>
    </div>
</div>
{{end}}
