{{define "title"}}
Thema Bearbeiten
{{end}}

{{define "header"}}
<h1 class="mb-0">Thema bearbeiten</h1>
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-9">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Thema '{{.Topic.Name}}'</p>
            </div>
            <div class="card-body">
                <form action="/topics/{{.Topic.TopicID}}/edit" method="POST" class="form">
                    {{.CSRF}}
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label class="mb-1" for="name"><strong>Thema</strong></label>
                                <input type="text" name="name" id="name"
                                       placeholder="Namen des Themas"
                                       class="form-control {{with .Form.Errors.Name}}is-invalid{{end}}"
                                       value="{{with .Form.Name}}{{.}}{{else}}{{with .Form.Errors.Year}}{{else}}{{.Topic.Name}}{{end}}{{end}}">
                                {{with .Form.Errors.Name}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <div class="form-group">
                                <label class="mt-2 mb-1" for="start_year"
                                       for="end_year"><strong>Zeitspanne</strong></label>
                                <div class="row">
                                    <div class="col mr-1">
                                        <input type="text" name="start_year" id="start_year"
                                               placeholder="Start-Jahr der Epoche"
                                               class="form-control {{with .Form.Errors.Year}}is-invalid{{end}}"
                                               value="{{with .Form.StartYear}}{{.}}{{else}}{{with .Form.Errors.Year}}{{else}}{{.Topic.StartYear}}{{end}}{{end}}">
                                    </div>
                                    <h5>_</h5>
                                    <div class="col ml-1">
                                        <input type="text" name="end_year" id="end_year"
                                               placeholder="End-Jahr der Epoche"
                                               class="form-control {{with .Form.Errors.Year}}is-invalid{{end}}"
                                               value="{{with .Form.EndYear}}{{.}}{{else}}{{with .Form.Errors.Year}}{{else}}{{.Topic.EndYear}}{{end}}{{end}}">
                                    </div>
                                </div>
                                {{with .Form.Errors.Year}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <div class="form-group">
                                <label class="mt-2 mb-1" for="description"><strong>Beschreibung</strong></label>
                                <textarea type="text" name="description" id="description" rows="4"
                                          placeholder="Optionale Beschreibung (empfohlen)"
                                          class="form-control {{with .Form.Errors.Description}}is-invalid{{end}}">
                                    {{- with .Form.Description}}{{.}}{{else}}{{with .Form.Errors.Description}}{{else}}{{.Topic.Description}}{{end}}{{end -}}
                                </textarea>
                                {{with .Form.Errors.Description}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <div class="form-group">
                                <label class="mt-2 mb-1" for="image"><strong>Bild</strong></label>
                                <input type="text" name="image" id="image"
                                       placeholder="URL zu einem Bild (erlaubte Formate: .PNG, .JPG, .JPEG, .GIF)"
                                       class="form-control {{with .Form.Errors.Image}}is-invalid{{end}}"
                                       value="{{with .Form.Image}}{{.}}{{else}}{{with .Form.Errors.Image}}{{else}}{{.Topic.Image}}{{end}}{{end}}">
                                {{with .Form.Errors.Image}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">
                                        Thema bearbeiten
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}
