{{define "title"}}
Benutzer
{{end}}

{{define "header"}}
<h1 class="text-dark mb-0">Alle Benutzer</h1>
{{end}}

{{define "content"}}
{{$csrf := .CSRF}}
<div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                            <span>Benutzer</span>
                        </div>
                        <div class="text-dark font-weight-bold h5 mb-0">
                            <span>{{.UsersCount}}</span>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-info py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-info font-weight-bold text-xs mb-1">
                            <span>Benutzer mit verifizierter Email</span>
                        </div>
                        <div class="text-dark font-weight-bold h5 mb-0">
                            <span>{{.VerifiedUsersCount}}</span>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-at fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-warning py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-warning font-weight-bold text-xs mb-1">
                            <span>Benutzer mit gespielten Quiz</span>
                        </div>
                        <div class="text-dark font-weight-bold h5 mb-0">
                            <span>{{.PlayedUsersCount}}</span>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-play fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-3 mb-4">
        <div class="card shadow border-left-primary py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1">
                            <span>Admins</span>
                        </div>
                        <div class="text-dark font-weight-bold h5 mb-0">
                            <span>{{.AdminsCount}}</span>
                        </div>
                    </div>
                    <div class="col-auto"><i class="fas fa-users-cog fa-2x text-gray-300"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Admins</h6>
            </div>
            <div class="row row-cols-1 row-cols-md-3">
                {{range .Admins}}
                <div class="col">
                    <div class="card shadow py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col mr-2">
                                    <span class="h5 font-weight-bold">{{.Username}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Benutzer</h6>
            </div>
            <div class="row row-cols-1 row-cols-md-2">
                {{range .Users}}
                {{if not .Admin}}
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="h5 font-weight-bold">{{.Username}}</span>
                                </div>
                                <div class="col-auto">
                                    <a href="#userPromoteModal-{{.UserID}}" data-bs-toggle="modal" title="Zum Admin befördern">
                                        <i class="fas fa-user-cog fa-2x text-gray-500 x-hover-yellow"></i>
                                    </a>
                                    <div id="userPromoteModal-{{.UserID}}" class="modal fade">
                                        <form action="/users/{{.UserID}}/promote" method="POST">
                                            {{$csrf}}
                                            <div class="modal-dialog modal-confirm">
                                                <div class="modal-content">
                                                    <div class="modal-header flex-column">
                                                        <div class="icon-box-yellow">
                                                            <i class="fas fa-user-cog fa-2x"></i>
                                                        </div>
                                                        <h4 class="modal-title w-100">Sind Sie sicher?</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-hidden="true">&times;
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Das Befördern eines Benutzers zum Admin kann nicht rückgängig gemacht werden. Damit bekommt
                                                            der Benutzer die selben Rechte wie Sie.</p>
                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Abbrechen
                                                        </button>
                                                        <button type="submit" class="btn btn-danger-yellow">Befördern
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <a class="ml-4" href="#userDeleteModal-{{.UserID}}" data-bs-toggle="modal" title="Benutzer löschen">
                                        <i class="fas fa-trash-alt fa-2x text-gray-500 x-hover-red"></i>
                                    </a>
                                    <div id="userDeleteModal-{{.UserID}}" class="modal fade">
                                        <form action="/users/{{.UserID}}/delete" method="POST">
                                            {{$csrf}}
                                            <div class="modal-dialog modal-confirm">
                                                <div class="modal-content">
                                                    <div class="modal-header flex-column">
                                                        <div class="icon-box">
                                                            <i class="fas fa-trash-alt fa-2x"></i>
                                                        </div>
                                                        <h4 class="modal-title w-100">Sind Sie sicher?</h4>
                                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                                aria-hidden="true">&times;
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Das Löschen eines Benutzers kann nicht rückgängig gemacht werden. Damit werden auch alle
                                                            Spielresultate dieses Benutzers gelöscht.</p>
                                                    </div>
                                                    <div class="modal-footer justify-content-center">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                                                        <button type="submit" class="btn btn-danger">Löschen</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}
