{{define "title"}}
Passwort vergessen
{{end}}

{{define "header"}}
<h1 class="mb-0">Passwort vergessen</h1>
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Passwort vergessen</p>
            </div>
            <div class="card-body">
                <form action="/users/forgot/password" method="POST" class="form">
                    {{.CSRF}}
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label class="mb-1" for="email"><strong>Email</strong></label>
                                <input type="text" name="email" id="email"
                                       class="form-control {{with .Form.Errors.Email}}is-invalid{{end}}"
                                       value="{{with .Form.Email}}{{.}}{{end}}">
                                {{with .Form.Errors.Email}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">
                                        Email versenden
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}