{{define "title"}}
Passwort ändern
{{end}}

{{define "header"}}
<h1 class="mb-0">Passwort ändern</h1>
{{end}}

{{define "content"}}
<div class="row">
    <div class="col-12 col-lg-8 col-xl-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Passwort ändern</p>
            </div>
            <div class="card-body">
                <form action="/users/edit/password" method="POST" class="form">
                    {{.CSRF}}
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label class="mb-1" for="new_password"><strong>Neues Passwort</strong></label>
                                <input type="text" name="new_password" id="new_password"
                                       class="form-control {{with .Form.Errors.NewPassword}}is-invalid{{end}}"
                                       value="{{with .Form.NewPassword}}{{.}}{{end}}">
                                {{with .Form.Errors.NewPassword}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <div class="form-group">
                                <label class="mt-2 mb-1" for="password"><strong>Passwort</strong></label>
                                <input type="password" name="password" id="password"
                                       class="form-control {{with .Form.Errors.Password}}is-invalid{{end}}"
                                       value="{{with .Form.Password}}{{.}}{{end}}">
                                {{with .Form.Errors.Password}}
                                <div class="text-sm-left text-danger">{{.}}</div>
                                {{end}}
                            </div>
                            <br>
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">
                                        Passwort ändern
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{end}}