{{define "title"}}
    <title>Themen - Jahreszahlen</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Themen</h1>
{{end}}

{{define "content"}}
    {{range .Topics}}
        <div class="card mb-4">
            <div class="card-body">
                <p>
                    <a href="#" class="d-block card-title text-body mt-1 h5">
                        {{.Title}} ({{.StartYear}} - {{.EndYear}})
                    </a>
                </p>
                <p class="card-text">{{.Description}}</p>
                <p class="card-text">{{.EventsCount}} Ereignisse<br>
                    {{.ScoresCount}}x gespielt</p>
                <a href="/topics/{{.TopicID}}" class="btn btn-primary">Thema anschauen</a>
            </div>
        </div>
    {{end}}
{{end}}

{{define "sidebar"}}
    {{if .User.Admin}}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Neues Thema erstellen</h5>
                <p class="card-text">
                    Erstellen Sie ein neues Thema mitsamt ihren Ereignissen.
                </p>
                <a href="/topics/new" class="btn btn-primary btn-block">Neues Thema</a>
            </div>
        </div>
    {{end}}
{{end}}
