<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jahreszahlen-lernen</title>

    <!-- css sheet for own style -->
    <link rel="stylesheet" type="text/css" href="css/style.css" >

    <!-- binding bootstrap css -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<header>
    <h1>Willkomen bei Jahreszahlen</h1>
</header>
<main class="row">

    <div class="col-2">

        <!-- Navbar -->
        <nav>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link " id="active"href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Themen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
            </ul>

        </nav>
        <!--navbar end-->
    </div>

    <div class="col-7">

        <blockquote class="blockquote">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus semper lectus
                vel dictum. Quisque quis enim eu dolor volutpat venenatis vitae eu erat. In hac habitasse
                platea dictumst. Nullam consequat varius enim, quis vestibulum mi efficitur sit amet. Quisque
                dignissim vel turpis viverra pellentesque. Mauris auctor felis non sapien.</p>
        </blockquote>

        <div class="container">

            <div class="row">

                <h5>Jetzt Spielen!</h5>

                <div class="col-6">

                    <button type="button" class="btn">Imperialismus </button>
                    <button type="button" class="btn">Industrialismus </button>
                    <button type="button" class="btn">1. Weltkrieg </button>
                    <button type="button" class="btn">2. Weltkrieg </button>

                </div>
                <div class="col-6">

                    <table class="table">
                        <tbody>
                        <tr>
                            <td>64</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <th>Ereignisse</th>
                            <th>Gesehen</th>
                        </tr>
                        <tr>
                            <td>56</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <th>Ereignisse</th>
                            <th>Gesehen</th>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <th>Ereignisse</th>
                            <th>Gesehen</th>
                        </tr>
                        <tr>
                            <td>67</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th>Ereignisse</th>
                            <th>Gesehen</th>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>


    </div>

    <div class="col-3">

        <ul class="list-unstyled">
            <li id="ranking"><b>Leaderboard</b></li>
            <li>1. username 70</li>
            <li>2. username 63</li>
            <li>3. username 59</li>
            <li>4. username 46</li>
            <li>5. username 40</li>
        </ul>
    </div>
</main>


</body>
</html>