{{define "title"}}
<title>Phase 3</title>
{{end}}

{{define "header"}}
<h1 class="mb-0">{{.TopicName}}</h1>
{{end}}

{{define "content"}}
<form action="/topics/{{.TopicID}}/quiz/3" method="POST" class="form">
    {{.CSRF}}
    <div class="x-card">
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <i class="fas fa-long-arrow-alt-down"></i>
                </div>
                <div id="x-table" class="col-6">
                    <table class="table table-bordered">
                        <tr>
                            <td>val1<input hidden name="questions" id="0" value="Belgien wird unabhängig"/></td>
                        </tr>
                        <tr>
                            <td>val2<input hidden name="questions" id="1" value="Erster Opiumkrieg endet"/></td>
                        </tr>
                        <tr>
                            <td>val3<input hidden name="questions" id="2" value="Krimkrieg beginnt"/></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="x-button">Überprüfen</button>
</form>
{{end}}

{{define "sidebar"}}

{{end}}
