{{define "title"}}
<title>Phase 1 Überprüfung</title>
{{end}}

{{define "header"}}
<h1 class="mb-0">Lösungen {{.TopicName}}</h1>
{{end}}

{{define "content"}}
    {{range .Questions}}
        <div class="x-card">
            <h5>{{.EventName}}</h5>

            <div class="card-body">
                {{$id := .ID}}
                {{$user := .UserGuess}}
                {{$year := .EventYear}}

                {{range .Choices}}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{$id}}" id="{{$id}}" value="{{.}}">
                        <label for="{{$id}}" class="form-check-label
                            {{if eq . $year}}
                                correct-year
                            {{else}}
                            {{if eq . $user}}
                                incorrect-year
                            {{end}}
                            {{end}}">
                            {{.}}
                            {{if eq . $year}} <!-- correct year -->
                            {{if eq . $user}}
                            <i class="fas fa-check"></i> <!-- user guessed the correct year -->
                            {{end}}
                            {{else}}
                            {{if eq . $user}}
                            <i class="fas fa-times"></i> <!-- user guessed this year, which wasn't correct -->
                            {{end}}
                            {{end}}
                        </label>
                    </div>
                {{end}}
            </div>
        </div>
    {{end}}
<form action="/topics/{{.TopicID}}/quiz/1/review" method="POST" class="form">
    {{.CSRF}}
    <button type="submit" class="x-button">Weiter zu Phase 2</button>
</form>
{{end}}

{{define "sidebar"}}

{{end}}
