{{define "title"}}
    <title>Phase 2</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">{{.TopicName}}</h1>
{{end}}

{{define "content"}}
    <form action="/topics/{{.TopicID}}/quiz/2" method="POST" class="form">
        {{.CSRF}}
        {{range .Questions}}
            <div class="x-card">
                    <h5>{{.EventName}}</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="text" name="eventyear" id="eventyear"
                                   class="form-control"
                                   placeholder="Bitte Jahreszahl eingeben">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                Ich weiss es nicht
                            </label>
                        </div>
                    </div>
            </div>
        {{end}}

        <br>
        <button type="submit" class="x-button">Überprüfen</button>
    </form>
{{end}}

{{define "sidebar"}}

{{end}}
