{{define "title"}}
    <title>Phase 1</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">{{.TopicName}}</h1>
{{end}}

{{define "content"}}

    <form action="/topics/{{.TopicID}}/quiz/1" method="POST" class="form">
        {{.CSRF}}
        {{range .Questions}}
        <div class="x-card">
            <h5>{{.EventName}}</h5>

            <div class="card-body">
                {{$id := .ID}}
                {{range .Choices}}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{$id}}" id="{{$id}}" value="{{.}}">
                        <label class="form-check-label" for="{{$id}}">
                            {{.}}
                        </label>
                    </div>
                {{end}}
            </div>
        </div>
        {{end}}

        <br>
        <button type="submit" class="x-button">Überprüfen</button>
    </form>
{{end}}

{{define "sidebar"}}

{{end}}
