{{define "title"}}
    <title>Leaderboard</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Leaderboard</h1>
{{end}}

{{define "content"}}

<!--<h3>Show: {{.Show}}</h3>
    <h3>Page: {{.Page}}</h3>
    <h3>Topic: {{.Topic}}</h3>
    <h3>User: {{.User}}</h3>-->
<div class="row">
    <div class="col-6">
        <div class="x-checkbox">
            <input type="checkbox">
            <label class="form-check-label">alle Benutzer</label>
        </div>
    </div>
    <div class="col-6">
        <select class="x-select">
            {{range.Topics}}
            <option value="{{.TopicID}}">{{.Name}}</option>
            {{end}}
        </select>
    </div>
</div>

<table class="table" id="tablescores">
    <thead>
        <tr>
            <th scope="col">Rang</th>
            <th scope="col">Benutzer</th>
            <th scope="col">Thema</th>
            <th scope="col">Datum</th>
            <th scope="col">Punkte</th>
        </tr>
    </thead>
    <tbody>
    {{range .Leaderboard}}
        <tr>
            <th scope="row">{{.Rank}}</th>
            <td>{{.UserName}}</td>
            <td>{{.TopicName}}</td>
            <td>{{.Date}}</td>
            <td>{{.Points}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
<footer>
    <nav class="x-pagination">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</footer>
{{end}}

{{define "sidebar"}}

{{end}}
