{{define "title"}}
    <title>Title</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Header</h1>
{{end}}

{{define "content"}}

    <h3>Show: {{.Show}}</h3>
    <h3>Page: {{.Page}}</h3>
    <h3>Topic: {{.Topic}}</h3>
    <h3>User: {{.User}}</h3>

    {{range .Leaderboard}}
        <hr>
        <h4>Rank: {{.Rank}}</h4>
        <h4>User: {{.UserName}}</h4>
        <h4>Topic: {{.TopicName}}</h4>
        <h4>Date: {{.Date}}</h4>
        <h4>Points: {{.Points}}</h4>
        <hr>
    {{end}}

{{end}}

{{define "sidebar"}}

{{end}}
