{{define "title"}}
    <title>Leaderboard</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Leaderboard</h1>
{{end}}

{{define "content"}}

    <h3>Show: {{.Show}}</h3>
    <h3>Page: {{.Page}}</h3>
    <h3>Topic: {{.Topic}}</h3>
    <h3>User: {{.User}}</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Rang</th>
            <th scope="col">Benutzer</th>
            <th scope="col">Thema</th>
            <th scope="col">Datum</th>
            <th scope="col">Punkte</th>
        </tr>
    </thead>
    <tbody>
    {{range .Leaderboard}}
        <tr>
            <th scope="row">{{.Rank}}</th>
            <td>{{.UserName}}</td>
            <td>{{.TopicName}}</td>
            <td>{{.Date}}</td>
            <td>{{.Points}}</td>
        </tr>
    {{end}}
    </tbody>

{{end}}

{{define "sidebar"}}

{{end}}
