{{define "title"}}
    <title>Title</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Header</h1>
{{end}}

{{define "content"}}
    <form action="/topics" method="POST" class="form">
        <label>Titel*</label>
        <div class="form-group">
            <input type="text" name="title" class="form-control"
                   placeholder="Titel des Themas">
        </div><br>
        <label>Zeitspanne*</label>
        <div class="row">
            <div class="col">
            <input type="number" name="start_year" class="form-control"
                   placeholder="Von">
            </div>  _
            <div class="col">
            <input type="number" name="end_year" class="form-control"
                   placeholder="Bis">
            </div>
        </div><br>
        <label>Beschreibung</label>
        <div class="form-group">
            <textarea name="description" class="form-control" rows="3"
                      placeholder="Optionale Beschreibung des Themas"></textarea>
        </div><br>
        <button type="submit" class="btn btn-primary">Thema erstellen</button>
    </form>
{{end}}
