{{define "title"}}
    <title>Passwort vergessen</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Passwort vergessen</h1>
{{end}}

{{define "content"}}
    <form action="/users/forgot/password" method="POST" class="form">
        {{.CSRF}}
        <div class="form-group">
            <label> Geben Sie bitte Ihre Emailadresse ein</label>
            <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Email">
        </div>
        <br>
        <button type="submit" class="x-button">Passwort zurücksetzen</button>
    </form>

{{end}}

{{define "sidebar"}}

{{end}}
