{{define "title"}}
Registrieren
{{end}}

{{define "header"}}
<h1 class="mb-0">Registrieren</h1>
{{end}}

{{define "content"}}
<form action="/users/register" method="POST" class="form">
    {{.CSRF}}
    <label for="username">Benutzername</label>
    <div class="form-group">
        <input type="text" name="username" id="username"
               class="form-control {{with .Form.Errors.Username}}is-invalid{{end}}"
               placeholder="Benutzername"
               value="{{with .Form.Username}}{{.}}{{end}}">
    </div>

    {{with .Form.Errors.Username}}
    <div class="x-invalid-form">{{.}}</div>
    {{end}}

    <br>

    <label for="email">Email</label>
    <div class="form-group">
        <input type="text" name="email" id="email"
               class="form-control {{with .Form.Errors.Email}}is-invalid{{end}}"
               placeholder="Email"
               value="{{with .Form.Email}}{{.}}{{end}}">
    </div>

    {{with .Form.Errors.Email}}
    <div class="x-invalid-form">{{.}}</div>
    {{end}}

    <br>

    <label for="password">Passwort</label>
    <div class="form-group">
        <input type="password" name="password" id="password"
               class="form-control {{with .Form.Errors.Password}}is-invalid{{end}}"
               placeholder="Passwort"
               value="{{with .Form.Password}}{{.}}{{end}}">
    </div>

    {{with .Form.Errors.Password}}
    <div class="x-invalid-form">{{.}}</div>
    {{end}}

    <br>
    <button type="submit" class="x-button">Registrieren</button>
</form>
{{end}}

{{define "sidebar"}}
<div class="x-card">
    <div class="card-body">
        <h5 class="card-title">Ich habe bereits ein Account!</h5>
        <p class="card-text">
            Falls Sie schon ein Account haben, loggen Sie sich hier ein.
        </p>
        <a href="/users/login" class="x-button">Einloggen</a>
    </div>
</div>
{{end}}
