{{define "title"}}
    <title>Passwort zurücksetzen</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Passwort zurücksetzen</h1>
{{end}}

{{define "content"}}
    <form action="/users//reset/password" method="POST" class="form">
        {{.CSRF}}
        <label for="password">Geben Sie bitte ihr neues Passwort ein</label>
        <div class="form-group">
            <input type="password" name="password" id="password"
                   class="form-control {{with .Form.Errors.Password}}is-invalid{{end}}"
                   placeholder="Passwort"
                   value="{{with .Form.Password}}{{.}}{{end}}">
        </div>

        {{with .Form.Errors.Password}}
            <div class="x-invalid-form">{{.}}</div>
        {{end}}
        <br>
        <button type="submit" class="x-button">Passwort bestätigen</button>
    </form>

{{end}}

{{define "sidebar"}}

{{end}}
