{{define "title"}}
    <title>Benutzername ändern</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Benutzername ändern</h1>
{{end}}

{{define "content"}}
<div class="x-card">
    <div class="card-body">
        <form action="/users/edit/username" method="POST" class="form">
            {{.CSRF}}
            <label for="username">Neuer Benutzername</label>
            <div class="form-group">
                <input type="text" name="username" id="username"
                       class="form-control {{with .Form.Errors.NewUsername}}is-invalid{{end}}"
                       placeholder="Benutzername"
                       value="{{with .Form.NewUsername}}{{.}}{{end}}">
            </div>

            {{with .Form.Errors.NewUsername}}
            <div class="x-invalid-form">{{.}}</div>
            {{end}}
            <br>

            <label for="password">Passwort</label>
            <div class="form-group">
                <input type="password" name="password" id="password"
                       class="form-control {{with .Form.Errors.Password}}is-invalid{{end}}"
                       placeholder="Password"
                       value="{{with .Form.Password}}{{.}}{{end}}">
            </div>

            {{with .Form.Errors.Password}}
            <div class="x-invalid-form">{{.}}</div>
            {{end}}
            <br>

            <button type="submit" class="x-button">Ändern</button>
        </form>
    </div>
</div>

{{end}}

{{define "sidebar"}}

{{end}}
