{{define "title"}}
    <title>Registrieren - Jahreszahlen</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Registrieren</h1>
{{end}}

{{define "content"}}
    <form action="/users/register" method="POST" class="form">
        <label>Username*</label>
        <div class="form-group">
            <input type="text" name="username"
                   class="form-control"
                   placeholder="Benutzername">
        </div>

        <h5><br></h5>

        <label>Passwort*</label>
        <div class="form-group">
            <input type="password" name="password"
                   class="form-control"
                   placeholder="Passwort">
        </div>

        <h5><br></h5>

        <button type="submit" class="btn btn-primary">Registrieren</button>
    </form>
{{end}}
