{{define "title"}}
    <title>Passwort ändern</title>
{{end}}

{{define "header"}}
    <h1 class="mb-0">Passwort ändern</h1>
{{end}}

{{define "content"}}
<div class="x-card">
    <div class="card-body">
        <form action="/users/edit/password" method="POST" class="form">
            {{.CSRF}}
            <label for="new_password">Neues Passwort</label>
            <div class="form-group">
                <input type="password" name="new_password" id="new_password"
                       class="form-control {{with .Form.Errors.NewPassword}}is-invalid{{end}}"
                       placeholder="Neues Passwort"
                       value="{{with .Form.NewPassword}}{{.}}{{end}}">
            </div>

            {{with .Form.Errors.NewPassword}}
            <div class="x-invalid-form">{{.}}</div>
            {{end}}
            <br>

            <label for="password">Aktuelles Passwort</label>
            <div class="form-group">
                <input type="password" name="password" id="password"
                       class="form-control {{with .Form.Errors.Password}}is-invalid{{end}}"
                       placeholder="Password"
                       value="{{with .Form.Password}}{{.}}{{end}}">
            </div>

            {{with .Form.Errors.Password}}
            <div class="x-invalid-form">{{.}}</div>
            {{end}}
            <br>

            <button type="submit" class="x-button">Ändern</button>
        </form>
    </div>
</div>

{{end}}

{{define "sidebar"}}

{{end}}
